html,
body {
    background-color: #fff;
    font-size: 10px;
    min-width: 320px;
}
@keyframes out-fade {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}
/* Инпуты */
.name_price {
    margin-top: 8rem;
}
.input {
    height: 6rem;
    margin-top: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #000;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    border-radius: 0.5rem;
    border-style: none;
    outline: none;
    text-align: center;
    transition: all 0.2s;
}
.input::placeholder {
    color: #BDBDBD;
}
.input:focus {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}
/* Кнопка "Сохранить" */
.save {
    font-family: 'Raleway', sans-serif;
    font-size: 2.5rem;
    color: #fff;
    background-color: #000;
    border-style: none;
    border-radius: 0.5rem;
    height: 6rem;
    margin-top: 3rem;
    transition: all 0.2s;
}
.save:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}
/* Параметры */
.param_item {
    margin-top: 7rem;
}
.list_name {
    font-size: 3rem;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
.list {
    height: 30rem;
    border-style: solid;
    border-width: 0.1rem;
    border-radius: 0.5rem;
    overflow: auto;
}
.name {
    display: flex;
    font-size: 2.1rem;
    text-align: center;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    font-family: 'Raleway', sans-serif;
    height: 4rem;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
}
.name:hover {
    cursor: pointer;
    color: #fff;
    background-color: #0048D0;
}
.select_name {
    font-size: 2.1rem;
    font-family: 'Raleway', sans-serif;
    margin-top: 1rem;
    text-align: center;
}
/* Радио кнопки */
.radio_item {
    margin-top: 7rem;
}
.line {
    display: inline-flex;
    align-items: center;
}
.radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 4px solid #000;
    transition: all 0.2s;
}
.radio:checked {
    background-color: #000;
}
.radio:hover {
    cursor: pointer;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.line_text {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    margin-left: 0.8rem;
    margin-bottom: 0;
}
/* Изображения */
.images_item {
    margin-top: 7rem;
}
.margin {
    margin: 0;
}
.colors {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2.5rem;
}
.select_color {
    width: 6rem;
    height: 6rem;
    border-style: solid;
    border-width: 0.4rem;
    border-radius: 1.5rem;
    border-color: #000;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    margin-bottom: 0.5rem;
    transition: all 0.2s;
    animation: out-fade 0.2s forwards;
}
.select_color:hover {
    cursor: pointer;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.selected_color {
    border-color: #0048D0;
}
.img_color {
    width: 4.5rem;
    height: 4.5rem;
}
.delete {
    height: 6rem;
    font-family: 'Raleway', sans-serif;
    font-size: 2.5rem;
    background-color: #D50000;
    border-style: none;
    border-radius: 0.5rem;
    color: #fff;
    transition: all 0.2s;
}
.delete:hover {
    box-shadow: 0 0 15px #D50000;
}
.input_file {
    background-color: #000;
    height: 4rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    transition: all 0.2s;
}
.input_file:hover {
    cursor: pointer;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.file {
    display: none;
}
.file_text {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 0;
}
.change {
    display: flex;
    height: 25rem;
    margin-top: 3rem;
    align-items: center;
    justify-content: center;
}
.change_image {
    height: 25rem;
    width: 25rem;
}
.discount {
    margin-top: 2rem;
}
/* Описания */
.description_block {
    margin-top: 3rem;
}
.des_text {
    margin-top: 6rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    border-style: none;
    border-radius: 0.5rem;
    outline: none;
    transition: all 0.2s;
    padding: 0.9rem;
    height: 38rem;
}
.des_text:focus {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}
.des_text::placeholder {
    color: #BDBDBD;
}
@media (max-width: 1199px) {
    .change {
        height: 18rem;
    }
    .change_image {
        height: 18rem;
        width: 18rem;
    }
}
@media (max-width: 991px) {
    .input {
        height: 5rem;
        font-size: 2.1rem;
        margin-top: 2rem;
    }
    .save {
        height: 5rem;
        font-size: 2.1rem;
        margin-top: 2rem;
    }
    .list_name {
        font-size: 2.6rem;
    }
    .list {
        height: 25rem;
    }
    .name {
        font-size: 1.7rem;
        height: 3rem;
    }
    .select_name {
        font-size: 1.9rem;
    }
    .radio {
        width: 1.7rem;
        height: 1.7rem;
        border-width: 0.3rem;
    }
    .line_text {
        font-size: 1.7rem;
    }
    .select_color {
        width: 5rem;
        height: 5rem;
        border-width: 0.3rem;
        border-radius: 1rem;
        margin-top: 0.5rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    .img_color {
        width: 3.5rem;
        height: 3.5rem;
    }
    .delete {
        height: 5rem;
        font-size: 2.1rem;
    }
    .file_text {
        font-size: 1.1rem;
    }
    .change {
        height: 13rem;
    }
    .change_image {
        height: 13rem;
        width: 13rem;
    }
    .des_text {
        font-size: 2.1rem;
        height: 30rem;
    }
    .margin {
        margin: 0;
    }
}
@media (max-width: 767px) {
    .input {
        height: 4rem;
        font-size: 1.7rem;
    }
    .save {
        height: 4rem;
        font-size: 1.7rem;
    }
    .list_name {
        font-size: 2.1rem;
    }
    .list {
        height: 20rem;
    }
    .name {
        font-size: 1.4rem;
        height: 2.5rem;
        margin-top: 0.4rem;
        margin-bottom: 0.4rem;
    }
    .select_name {
        font-size: 1.8rem;
    }
    .radio {
        width: 1.4rem;
        height: 1.4rem;
        border-width: 0.2rem;
    }
    .images_item {
        margin-top: 3rem;
    }
    .img_block {
        margin-top: 4rem;
    }
    .line_text {
        font-size: 1.4rem;
    }
    .select_color {
        width: 3.5rem;
        height: 3.5rem;
        border-width: 0.2rem;
        border-radius: 0.7rem;
        margin-left: 0.2rem;
        margin-right: 0.2rem;
    }
    .img_color {
        width: 2.5rem;
        height: 2.5rem;
    }
    .delete {
        height: 4rem;
        font-size: 1.7rem;
    }
    .input_file {
        margin-top: 2rem;
    }
    .description_block {
        margin-top: 0;
    }
    .des_text {
        font-size: 1.7rem;
        height: 20rem;
    }
}
@media (max-width: 575px) {
    .margin_small {
        margin-top: 1rem;
    }
    .param_item {
        margin-top: 2rem;
    }
    .list_block {
        margin-top: 4rem;
    }
}
@media (max-width: 470px) {
    .input {
        height: 3.5rem;
        font-size: 1.3rem;
    }
    .save {
        height: 3.5rem;
        font-size: 1.3rem;
    }
    .line_text {
        font-size: 1.2rem;
    }
    .delete {
        height: 3.5rem;
        font-size: 1.3rem;
    }
}
@media (max-width: 400px) {
    .file_text {
        font-size: 1rem;
    }
    .des_text {
        font-size: 1.3rem;
        height: 15rem;
    }
}